@font-face {
    font-family: "Cuprum";
    src:
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src:
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src:
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src:
        url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src:
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src:
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-lightnavy: #32425C;
    --basic-darknavy: #293449;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-yeiiowlight: #F9F5F0;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-greylight: #A9A9A9;
    --special-yellowlight: #FFD180;
    --special-background: #F4F4F4;
    --special-background-yellow: #F7F3EC;
    --special-background-red: #CA2C37;
    --special-background-white: #F1F1F1;
    --special-darcknavy:#1D2739;
    --special-background-darcknavy: #161D29;
    --special-background-social: #212A3A;
    --special-shadow-darcknavy: #405069;
    --special-darckgreen: #367315;
    --special-aclive-darckgreen: #518534;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-black-rgb: 0,0,0;
    --basic-white-rgb: 255,255,255;
}

.page-body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.link {
    text-decoration: none;
    color: var(--basic-white);
}

.button {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.button:hover,
.button:focus {
    background-color: var(--special-background-red);
}

.button:active {
  background-color: var(--error);
}

.main-logo:active {
  background-color: var(--error);
}

.main-header {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    background-color: var(--basic-background);
    font-family: "Cuprum";
}

.top-header-block {
    background-color: var(--basic-darknavy);
}

.main-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
    text-align: center;
}

.search input[type="search"] {
    background-color: var(--basic-darknavy);
    border: none;
    color: var(--basic-white);
}

.search input[type="search"]:focus {
    background-color: var(--basic-white);
    color: var(--basic-black);
}



.cart,
.login,
.site-nav ul,
.catalog,
.catalog-item,
.manufacturers-block,
.services-form-item,
.transport-list,
.foter-nav,
.footer-nav-bottom,
.footer-social,
.breadcrumbs,
.filter-list,
.sorting-list,
.pagination-list,
.cart-model-bullon-list,
.login-lk {
    list-style: none;
}

.bookmart img,
.basket img{
  opacity: 0.5;
}

.bookmart:hover img,
.bookmart:focus img{
    opacity: 1;
}

.basket:hover img,
.basket:focus img {
    opacity: 1;
}

.bookmart:active,
.basket:active {
    background-color: var(--special-background-darcknavy);
    opacity: 0.5;
  }

.cart-button {
    text-transform: none;
    background-color: var(--basic-green);
}

.cart-button:hover,
.cart-button:focus {
    background-color: var(--success);
}

.cart-button:active {
  background-color: var(--basic-green);
}

.main-title {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
    text-transform: none;
}

.main-contact-phone .link{
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    text-transform: none;
}

.main-address {
    font-size: 14px;
    color: var(--basic-lightnavy);
    text-align: center;
}

.login-lk .link{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-lightnavy);
}

.login-lk .link:hover,
.login-lk .link:focus {
    color: var(--basic-red);
}

.login-lk .link:active {
  color: var(--basic-greylight);
}

.button-login, .button-reg {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-transform: none;
    text-align: center;
    border: none;
}

.button-login:hover,
.button-login:focus {
    color: var(--basic-red);
}

.button-login:active {
  color: var(--basic-greylight);
}

.button-reg:hover,
.button-reg:focus {
    color: var(--basic-red);
}

.button-reg:active {
  color: var(--basic-greylight);
}

.site-nav {
    background-color: var(--basic-lightnavy);
    box-shadow: inset 0px -5px 0px var(--basic-darknavy);
}

.site-nav a:hover,
.site-nav a:focus {
    background-color: var(--basic-darknavy);
    box-shadow: inset 0px -5px 0px var(--basic-darknavy);
}
.site-nav a:active {
    background-color: var(--special-darcknavy);
    box-shadow: inset 0px -5px 0px var(--basic-darknavy);
}


.advantages {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    color: var(--basic-white);
}

.hidden-title,
.feedback-model-title {
    color: var(--basic-white);
}

.advantages h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: none;
}

.advantages .button{
    background-color: rgba(var(--basic-white-rgb), 0.3);
}

.advantages .button:hover,
.advantages .button:focus {
    background-color: var(--basic-greylight);
    opacity: 0.3;
}

.advantages .button:active {
  background-color: var(--special-greylight);
  opacity: 0.3;
}

.advantages-block1 {
    background-color: var(--special-ylellow);
}

.advantages-block2 {
    background-color:var(--special-blue);
}

.advantages-block3 {
    background-color: var(--special-lilac);
}

.advantages-block4 {
    background-color: var(--special-greenlight);
}

.advantages-block5 {
    background-color: var(--special-ylellow);
}

.slider {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
}

.slider figcaption {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-white);
}

.slider p {
    font-family: "Cuprum";
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.popular-products, .manufacturers {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
}

.popular-products-head, .manufacturers-head {
    background-color: var(--basic-yeiiowlight);
}

.popular-products-head h2, .manufacturers h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-item {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}

.catalog-item h3{
    color: var(--basic-black);
    font-weight: 700;
}

.catalog-item p{
    color: var(--special-greylight);
}

.price-button {
    font-size: 17px;
    line-height: 18px;
}

.buy-button {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--special-darckgreen);
}

.buy-button:hover,
.buy-button:focus {
    background-color: var(--success);
}

.buy-button:active {
  background-color: var(--special-aclive-darckgreen);
}

.bookmarks-button {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    color: var(--basic-black);
}

.bookmarks-button:hover,
.bookmarks-button:focus {
    background-color: var(--basic-white);
    border: 3px solid var(--basic-lightnavy);
}

.bookmarks-button:active {
    background-color: var(--basic-white);
    opacity: 0.5;
}

.services {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--basic-background);
}

.services h2, .services h3 {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.services-form-label {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--basic-lightnavy);
    font-weight: 700;
    color: var(--basic-white);
    box-shadow:  0px 1px 0px var(--basic-darknavy), inset 0px 1px 0px var(--special-shadow-darcknavy);
}

.services-form-label:hover,
.services-form-label:focus  {
    background-color: var(--basic-darknavy);

}

.services-form-label:checked {
  background-color: var(--basic-white);
  color: var(--basic-lightnavy);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}

.about-block {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.about-block h2{
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-block {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.contact-block h2{
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.main-footer {
    background-color: var(--basic-lightnavy);
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
    color: var(--basic-white);
}

.footer-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
    text-align: center;
}

.bottom-footer-nav-item,
.footer-feedback-email,
.author-href {
    color: var(--special-yellowlight);
}

.top-footer-nav-item:hover,
.top-footer-nav-item:focus {
    text-decoration: underline;
}

.top-footer-nav-item:active {
    opacity: 0.5;
}

.bottom-footer-nav-item:hover,
.bottom-footer-nav-item:focus {
    text-decoration: underline;
}

.bottom-footer-nav-item:active {
    opacity: 0.5;
}

.author-href:hover,
.author-href:focus {
    text-decoration: underline;
}

.author-href:active {
    color: var(--basic-red);
    text-decoration: none;
}

.footer-feedback-email:hover,
.footer-feedback-email:focus {
    text-decoration: underline;
}

.footer-feedback-email:active {
    color: var(--basic-red);
    text-decoration: none;
}

.bottom-footer-block {
    background-color: var(--basic-darknavy);
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    text-align: center;
}

.social-button {
    background-color: var(--special-background-social);
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: var(--basic-red);
}

.feedback-model {
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--special-greylight);
}

.bottom-feedback-model-block {
    background-color: var(--special-background);
}

.breadcrumbs a{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
}

.main-title-page {
  background-color: var(--basic-background);
}

.main-title-page h2 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--special-background-yellow)
}

.filter-price-title,
.filter-manufacturers-title,
.filter-power-title {
  font-size: 17px;
  line-height: 30px;
}

.filter-price,
.filter-manufacturers {
  border: none;
  border-bottom: 1px solid rgba(var(--basic-black-rgb), 0.0001);
}

.filter-price-item {
  background-color: var(--special-background-yellow);
}

.filter-power {
  border: none;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.sorting {
  background-color: var(--special-background-yellow);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting h2 {
  background-color: var(--special-background-yellow);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-list-item {
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px var(--basic-red);
}

.pagination-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-list-item {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.pagination-list-item-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.page-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--basic-background);
}

.page-description h2 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.catr-model {
  text-transform: none;
  color: var(--basic-black);
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.cart-model-bullon {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.cart-model-bullon-list {
  background-color:var(--special-background-white)
}

